<template>
	<nc-card>
		<nc-card-content>
			<nc-card-content-header>${parentSection.name | capitalize}</nc-card-content-header>
			<nc-card-content-meta>${parentSection.category | capitalize}</nc-card-content-meta>
			<nc-card-content-description>
				<p show.bind="description">${parentSection.description}</p>

				<template if.bind="supportedTypes.length != 0">
				<div class="ui basic vertical segment">
					<nc-header type="sub">Supported Types</nc-header>
					<nc-list type="bulleted">
						<nc-list-item
							repeat.for="type of supportedTypes">${type}</nc-list-item>
					</nc-list>
				</div>
				</template>

				<template if.bind="supportedVariations.length != 0">
				<div class="ui basic vertical segment">
					<nc-header type="sub">Supported Variations</nc-header>
					<nc-list type="bulleted">
						<nc-list-item
							repeat.for="variation of supportedVariations">${variation}</nc-list-item>
					</nc-list>
				</div>
				</template>

			</nc-card-content-description>
		</nc-card-content>
		<nc-card-extra-content>
			<a class="left floated link" href="${ parentSection.docsHref || defaultUrl }">
				<nc-icon name="external"></nc-icon>
				Docs
			</a>
			<span class="right floated status">
				<nc-icon name="${statusIcon}"></nc-icon>
				${parentSection.status | capitalize}
			</span>
		</nc-card-extra-content>
	</nc-card>
</template>

